<html>
  <head>
    <title>Baby Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <h1 class="title">Baby Fig Monitor</h1>
    <div class="video-box">
      <img class="video" src="{{ url_for('video_feed') }}">
    </div>
    <audio controls>
      <source src="{{ url_for('audio') }}" type="audio/x-wav;codec=pcm">
      Your browser does not support the audio element.
    </audio> 
  </body>
</html>