<html>
  <head>
    <title>Baby Monitor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='video.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <h1 class="title">3D Printing Monitor</h1>
    <div class="video-box">
      <img class="video" src="{{ url_for('video_feed') }}" />
    </div>
    <div class="flex"></div>
  </body>
</html>
